body {
    background-image: url("../../Images/doctor_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: #2e4b42 !important;
}
/* /////////////////////////        MainBody */
.main{
    background-color: #7bc0a991;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    
}

.clinicTime{
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    border-color: #ffffff5c;
    
}

.startTime, .endTime{
    padding: 5px;
}
.doctorContainer{
    justify-content: center;
}

.btnTokenRunning:hover{
    background-color: rgb(14, 121, 179);
}
.btnTokenRunning
{
    border-radius: 25px;
    font-size: 50px;
    background-color: rgb(43, 162, 226);
}

.elemCenter{
    justify-content: center;
}

.patientWaitingRed{
    color: red;
    font-weight: 500;
}

.patientWaitingBlue{
    color: blue;
    font-weight: 500;
}

.headingStyle{
    color: white;
    text-shadow: 1px 2px #509d85;
}
.tbloverflow{
    overflow: auto;
    height: 220px;
   
}

.tblHead{
    margin: 0px 5px 0px 5px;
}

.tblRow {
    padding: 5px;
    margin: 0px 5px 0px 5px;
}
.tblRow:nth-child(odd){
    background-color: #56917e;
    color: white;
}

.spinner {
    position: absolute;
        width: 50px;
}

/* ////////////////////////////////    Footer */
.footer{
    position: absolute;
    left:50%;
    /* bottom: 20px; */
    transform: translate(-50%,-50%);
    margin: 0 auto;
    /* position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center; */
}

hr {
    border-width: 2px;
    color: rgb(0, 0, 0);
}


/* ///////////////// Mobile Version ////////////////*/
@media only screen and (max-width: 900px){
    .btnNext, .btnCancel, .btnNotAttend, .btnAttened{
            width: auto;    
    }

    .doctorContainer{
        display: block;
    }

    .notAttendedCancelled, .tokenRunningPart {
        width: auto;
    }

    .btnAttened {
        text-overflow: clip;
    }

    .tbloverflow{
        overflow: auto;
        height: 220px;
        border: 2px solid white;
        padding: 5px;
    }

    .tblHead{
        position: absolute;
        top: -9999px;        
        left: -9999px;    
       
    }

    .tblRow{
        border: 1px solid #ccc;
           
    }

    .colmn{
           
        border: none;
        /* border-bottom: 1px solid #eee; */
        padding: 5px;  
        text-align: left;
        position: relative;
        padding-left: 50%;
    }

    .colmn:before{
        position: absolute;
	
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
    }

    .colmn:nth-of-type(1):before { content: "Pateint :"; }
	.colmn:nth-of-type(2):before { content: "Tokem # :"; }
	.colmn:nth-of-type(3):before { content: "Phone :"; }
    .colmn:nth-of-type(4):before { content: "Type :"; }
	.colmn:nth-of-type(5):before { content: "Attended? :"; }
}